body {
font-family: 'Raleway', sans-serif;

}


.bg-oscuro {
background-color:#000000;
}

.bg-plomo {
background-color:#C0C0C0;
}

.bg-azul{

background-color: #4682B4;
}

.bg-verde-oscuro {
background-color: #2F4F4F;

}
.text-centrado{
text-align: center;
}

.text-blanco {
color:white;
}



header {
background-image: url('../img/bg-hero.jpeg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}



#retratos div {
padding-top: 10px;
}


.derecha {
padding-left: 60%;
}

@media screen and (min-width: 768px) {
div.tamaño-letra p {
      font-size: 1.5rem;
   }


}

@media screen and (max-width: 768px) {
  div.tamaño-letra h1{
      font-size: 1rem;
  }
  div.tamaño-letra p {
      font-size: 0.8rem;
  }



}

.carousel-indicators li{

background-color:#373A3C;
width:10px;
height:10px;
border-radius: 50%;
}


/* Dropdown Button */
.dropbtn {
 background-color: #000000;
 color: white;
 padding: 16px;
 font-size: 16px;
 border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
 position: relative;
 display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
 display: none;
 position: absolute;
 background-color: #f1f1f1;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {;
 background: #000000;
 color: white;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #000000;}
